<form class="inputwindow">

    <h1> Voltage Controller </h1>


    <p>Enter username</p>

    <form>
        <div class="form-group">
            <label for="inputName">Username</label>
            <input type="text" class="form-control" id="inputName" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default" ng-click="loginClicked()">Login</button>
    </form>
   
   
    
</form> 