<form class="inputwindow">

    <h1> Voltage Controller </h1>


    <p>You can control the output voltage by left-clicking the knob below, holding and moving your mouse up and down</p>



    <x-knobjs-knob id="knob1"></x-knobjs-knob>
    <x-knobjs-knob id="knob2"></x-knobjs-knob>
   
   
    
</form>  
   
<br>


<form class="cv">
   
    <div> Current user: {{currentUserId}} </div>
  
    <br>
  
    <div> Input voltage: {{measuredVoltage}} </div>
    <br>
 
        
    <div ng-repeat="voltage in outputVoltages track by $index"> 
    
        <p>{{voltage}}</p>
    </div>
    

     <form>
        <div class="form-group">
            <label for="presetName">Preset name</label>
            <input type="text" class="form-control" id="presetName" placeholder="Enter name for preset" ng-model="presetname">
        </div>
    
         <button type="submit" class="btn btn-default" ng-click="saveClicked()">Save preset</button>
    
         <button type="submit" class="btn btn-default" ng-click="presetsClicked()">Load presets</button>
    </form>
    
  
</form>