<form class="controllerwindow">

    <h1> Voltage Controller </h1>

   
    <br>
    
    <table align="center">
    
        <tr>
            <td> <x-knobjs-knob id="knob1"></x-knobjs-knob> </td>
            <td> <x-knobjs-knob id="knob2"></x-knobjs-knob> </td>
            <td> <x-knobjs-knob id="knob3"></x-knobjs-knob> </td>
            <td> <x-knobjs-knob id="knob4"></x-knobjs-knob> </td>
            <td> <x-knobjs-knob id="knob5"></x-knobjs-knob> </td>
            <td> <x-knobjs-knob id="knob6"></x-knobjs-knob> </td>
            <td> <x-knobjs-knob id="knob7"></x-knobjs-knob> </td>
            <td> <x-knobjs-knob id="knob8"></x-knobjs-knob> </td>
        </tr>
        <tr>
            <td> {{outputVoltages[0]}} </td>
            <td> {{outputVoltages[1]}} </td>
            <td> {{outputVoltages[2]}} </td>
            <td> {{outputVoltages[3]}} </td>
            <td> {{outputVoltages[4]}} </td>
            <td> {{outputVoltages[5]}} </td>
            <td> {{outputVoltages[6]}} </td>
            <td> {{outputVoltages[7]}} </td>
        </tr>
    
    </table>
    <br>
    <h4> Bank: {{settingLoaded}}</h4>
    <button ng-click="voltagesSaveButtonClicked(settingLoaded)" class="basicWhite">Save to selected bank</button><br>
    
    
    <h3> Load Bank: </h3>
    <div id = "btn1" class="btn-toolbar" role="toolbar" aria-label="presetbar">
        <button type="button" class="btn btn-info" ng-click="voltagesLoadButtonClicked(1)">1</button>
        <button type="button" class="btn btn-info" ng-click="voltagesLoadButtonClicked(2)">2</button>
        <button type="button" class="btn btn-info" ng-click="voltagesLoadButtonClicked(3)">3</button>
        <button type="button" class="btn btn-info" ng-click="voltagesLoadButtonClicked(4)">4</button>
        <button type="button" class="btn btn-info" ng-click="voltagesLoadButtonClicked(5)">5</button>
        <button type="button" class="btn btn-info" ng-click="voltagesLoadButtonClicked(6)">6</button>
        <button type="button" class="btn btn-info" ng-click="voltagesLoadButtonClicked(7)">7</button>
        <button type="button" class="btn btn-info" ng-click="voltagesLoadButtonClicked(8)">8</button>
    </div>
    <br>
    
    <br>
    
    
    
    <h4> Quick-save to different bank: </h4>
    <div class="btn-toolbar" role="toolbar" aria-label="presetbar">
        <button type="button" class="btn btn-info" ng-click="voltagesSaveButtonClicked(1)">1</button>
        <button type="button" class="btn btn-info" ng-click="voltagesSaveButtonClicked(2)">2</button>
        <button type="button" class="btn btn-info" ng-click="voltagesSaveButtonClicked(3)">3</button>
        <button type="button" class="btn btn-info" ng-click="voltagesSaveButtonClicked(4)">4</button>
        <button type="button" class="btn btn-info" ng-click="voltagesSaveButtonClicked(5)">5</button>
        <button type="button" class="btn btn-info" ng-click="voltagesSaveButtonClicked(6)">6</button>
        <button type="button" class="btn btn-info" ng-click="voltagesSaveButtonClicked(7)">7</button>
        <button type="button" class="btn btn-info" ng-click="voltagesSaveButtonClicked(8)">8</button>
    </div>
    
    
     <!--
    <label for="singleSelect"> Save voltages: </label><br>
    
    <select name="singleSelect" id="singleSelect" ng-model="data.singleSelect">
      
        <option value="Empty">---Select voltage bank---</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
    <button ng-click="voltagesSaveButtonClicked(data.singleSelect)" class="basicWhite">Save</button><br>
    <tt>{{errorMessage}}</tt>
    <br>-->
    
    
</form>  
   
<br>


<form class="cv">
   
    <h3> Load voltage presets </h3>
    
    <div> Current user: {{currentUserId}} </div>
  
    

     
        <div class="form-group">
            <label for="presetName">Preset name</label>
            <input type="text" class="form-control" id="presetName" placeholder="Enter name for preset" ng-model="presetname">
        </div>
    
         <button type="submit" class="btn btn-default" ng-click="saveClicked()">Save preset</button>
    
         <button type="submit" class="btn btn-default" ng-click="presetsClicked()">Load presets</button>
    
    
  
</form>